<form id="formInfo" method="post" action=<%= '/clients/' + client._id + '/?sid=' + sid %>>

    <div id="intro1" style="height: 100%;;scroll:hidden;overflow: auto;">
        <div class="headline" style="z-index: 10;" text-align: <%= indexPageText.align %>>
            <p><%- client.headlineText %></p></div>
        <div class="container introText"
             style="padding: 10px;margin-top: 0px; height: 100%; text-align: <%= indexPageText.align %>">
            <%= /*indexPageText.instructionText*/ %>
            <div id="testInstructions"
                 style="margin-top: 60px;padding-right: 10px;padding-left: 10px;min-height:370px;">
                <p><%- (client.instructionText !== undefined) ? client.instructionText.replace('$checkbox',
                            "<div id='agreeDiv' class='squaredTwo' style='margin: 0; margin-left: 20px;'><input id='agree' class='' name='agree' type='checkbox' value='' style='vertical-align: bottom; margin: 3px;' ><label for='agree'></label></div>") : "Missing instruction text" %>
                </p>
            </div>
            <div id="companyDescription"
                 style="margin-top: 60px;padding-right: 10px;padding-left: 10px;min-height:370px;display: none;">
                <p><%- client.companyDescription %></p>
            </div>
            <div id="next_btn"
                 style="padding-bottom: 20px;padding-left: 20px;float: left;margin-top: -20px;display: block;">
                <a class="imgBtn" onclick="goNext()">
                    <!--<img style="zoom:30%" src="/images/next_btn.png">-->
                    Next
                </a>
            </div>
            <div id="next_btn_gray"
                 style="padding-bottom: 20px;padding-left: 20px;float: left;margin-top: -20px;display: block;">
                <a class="imgBtnGray" onclick="redCheckbox()">
                    <!--<img style="zoom:30%" src="/images/next_btn_gray.png">-->
                    Next
                </a>
            </div>
            <div id="back_btn"
                 style="padding-bottom: 20px;padding-left: 20px;float: left;margin-top: -20px;display: none;">
                <a class="imgBtn" onclick="goBack()">
                    <!--<img style="zoom:30%" src="/images/back_btn.png">-->
                    Back
                </a>
            </div>
        </div>
    </div>
</form>
