<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/header.css" rel="stylesheet">
</head>
<header>
    <div class="container col-md-12" style="text-align: center;">
        <img class="logo" style="height: 100px;padding-top:20px;" src="../images/EH_logo.png" />
    </div>
</header>
<body>
<div id="formContainer" class="container" style="padding:50px;scroll:hidden;overflow: auto; height: 100%;width:70%;">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#addNewCandidate">Add New Client</a></li>
        <li><a data-toggle="tab" href="#updateClient">Update Client</a></li>
    </ul>

    <div class="tab-content">
        <div id="addNewCandidate" class="tab-pane fade in active">
            <h4><%= title %></h4>
            <form id="addClient" method="post" enctype="multipart/form-data" action="/addClient">
                <div class="">
                <div id="clientName" style="padding: 20px;">
                    <input class="inputs" name="name" type="text" value='<%= (client.name) ? client.name : ''%>'
                           placeholder='Client Name' style="border-style: none none solid none;text-align: center;opacity: 0.7">
                </div>
                    <% if(client.logoImg) { %>
                        <span style="color: #3276b1;">Current logo: </span><%= client.logoImg.fileName %>
                    <br>
                    <br>
                    <p style="font-size: 12px; color: #878787;">&bull; Choose file to replace: </p>
                    <% } %>
                <div id="clientLogo" style="padding: 20px;">
                    <input class="inputs" name="logo" type="file" accept="image/png"
                           style="border-style: none none solid none;text-align: center;opacity: 0.7;margin-right:auto;margin-left: auto;">
                </div>
                <div id="clientLogoStyle" style="padding: 20px;">
                    <input onclick="scrollToNextElement('logoStyle')" id="LogoStyle" class="inputs" name="logoStyle" type="text"
                           value='<%= (client.logoStyle) ? client.logoStyle : ''%>' placeholder='Client Logo Style' style="border-style: none none solid none;text-align: center;opacity: 0.7">
                </div>
                <div id="clientTitle" style="padding: 20px;">
                    <input onclick="scrollToNextElement('title')" id="title" class="inputs" name="title" type="text"
                           value='<%= (client.title) ? client.title : ''%>' placeholder='Title' style="border-style: none none solid none;text-align: center;opacity: 0.7">
                </div>
                <div id="clientHeadlineText" style="padding: 20px;">
                <textarea onclick="scrollToNextElement('headlineText')" id="headlineText" class="inputs" name="headlineText"
                           placeholder='Headline Text' cols="40" rows="2" style="opacity: 0.7"><%= (client.headlineText) ? client.headlineText : ''%></textarea>
                    <!-- <input onclick="scrollToNextElement('clientLanguage')" class="inputs" name="introText" type="text"
                            placeholder='Introduction Text' style="border-style: none none solid none;opacity: 0.7">-->
                            </div>
                            <div id="clientInstructionText" style="padding: 20px;">
                    <textarea onclick="scrollToNextElement('instructionText')" id="instructionText" class="inputs" name="instructionText"
                              placeholder='Instructions Text' cols="40" rows="5" style="opacity: 0.7"><%= (client.instructionText) ? client.instructionText : ''%></textarea>
                               </div>
                             <div id="clientCompanyDescription" style="padding: 20px;">
                     <textarea onclick="scrollToNextElement('companyDescription')" id="companyDescription" class="inputs" name="companyDescription"
                                placeholder='Company Description' cols="40" rows="5" style="opacity: 0.7"><%= (client.companyDescription) ? client.companyDescription : ''%></textarea>
                                    </div>
                                  <div id="clientThankYouText" style="padding: 20px;">
                          <textarea onclick="scrollToNextElement('thankYouText')" id="thankYouText" class="inputs" name="thankYouText"
                                    placeholder='Thank You Text' cols="40" rows="2" style="opacity: 0.7"><%= (client.thankYouText) ? client.thankYouText : ''%></textarea>
                                    </div>
                                  <div id="clientLanguage" class="btn-group" style="padding: 20px;display:inline-block;">
                                      <input onclick="scrollToNextElement('btn_submit')"  class="inputs" name="language" type="radio"
                                             <%= (client.language == 'en') ? 'checked' : ''%> value="en" style="border-style: none none solid none;text-align: center;opacity: 0.7;"> <span style="padding-right: 10px">English</span>


                                      <input onclick="scrollToNextElement('btn_submit')"  class="inputs" name="language" type="radio"
                                             <%= (client.language == 'he') ? 'checked' : ''%> value="he" style="border-style: none none solid none;text-align: center;opacity: 0.7;"> <span style="padding-right: 10px">Hebrew</span>

                                  </div>
                                  <div>
                                        <input onclick="scrollToNextElement('btn_submit')" class="inputs" name="questionsKeyword" type="text"
                                               value='<%= (client.keyword) ? client.keyword : ''%>' placeholder='Questions Keyword' style="border-style: none none solid none;text-align: center;opacity: 0.7">
                                        </div>
                                        </div>
                <div class="col-md-12 container" style="padding-top: 50px; padding-bottom: 50px;">
                                        <button href="/addClient" id="submit" name="submit_btn" style="width: 200px;" class="btn btn-primary">Add Client</button>
                                    </div>
            </form>
        </div>
        <div id="updateClient" class="tab-pane fade">
            <h4>Load Client</h4>
            <form action="/loadClient" method="post">
                <div class="row clearfix">
                    <div class="col-md-4 column">
                        <input id="clientName" name="clientName" class="form-control">
                        <!--
                        <option value=""> (Show All)</option>
                        <option value="Fran"> Fran</option>
                        <option value="Elizabeth"> Elizabeth</option>
                        <option value="Diane"> Diane</option>
                        -->
                        </input>

                    </div>
                    <div class="col-md-4 column">
                        <button id="btnLoadClient" name="btnLoadClient" class="btn btn-print">Load Client</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<% include partials/footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
<script>
    $('.inputs').keydown(function (e) {
        if (e.which === 13) {
            var index = $('.inputs').index(this) + 1;
            $('.inputs').eq(index).focus();
        }
    });

    var container = $('#formContainer');//,

    function scrollToNextElement(nextElement) {
        var scrollTo = $('#' + nextElement);
        container.animate({scrollTop: scrollTo.offset().top - container.offset().top +
        container.scrollTop()});
    }

    $("#addClient").validate({
        ignore: "",
        success: function(label,element) {
            //element.find("input").css( "border", "solid green 1px" );
            element.style.border= "solid green 1px" ;
        },
        //debug: true,
        //rules: rules,
        messages: {

        },
        errorElement: "div",
        wrapper: "div",  // a wrapper around the error message
        errorPlacement: function(error, element) {
            element.before(error);

            //element.parent("div").find("a").css( "border", "solid red 1px" );
            element.css( "border", "solid red 1px" );
            offset = element.offset();
            error.css('left', offset.left);
            error.css('bottom', offset.top - element.outerHeight());
        },
        focusInvalid: false,
        invalidHandler: function(form, validator) {
            if (!validator.numberOfInvalids())
                return;

            },
        submitHandler: function (form) {
            $.ajax({
                url:'/addClient',
                type:'post',
                data:$('#addClient').serialize() ,//+ fileData,
                async: false,
                success:function(){
                    //console.log(form.user_id.value);
                    mixpanel.track('New Client added', {'uid': form.user_id.value/* candidate/employee */});

                    // TODO: scrollTo block user authentication display
                }
            });
            form.submit();
        }
    });
</script>

</body>
</html>
