<!DOCTYPE html>
<html >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title>Empirical Hire</title>-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
        }

        @media (min-width: 1200px) {
            .container {
                width: auto;
            }

            page[size="A4"] {
                width: 21cm;
                height: auto;
            }
            @media print {
                body, page {
                    margin: 0;
                    box-shadow: none;
                }
            }
            page[size="A4"][layout="portrait"] {
                width: 29.7cm;
                height: auto;
            }
        }
    </style>
</head>

<body style="background: rgb(204,204,204);" >
<page size="A4" layout="portrait">

    <header class="container header">
        <div class="row">
            <div class="col-xs-12 header__content">

                <a href="#" class="header__logo-wrapper">
                    <!-- <img src="/images/logo.png" alt="Logo" class="header__logo">-->
                </a>

                <div class="header__copy">
                    <h1 class="header__title">
                        <!--<span class="header__title--brand">Empirical</span> Hire-->
                        <img style="height: 100px;padding-top:0px;zoom: 1.4;" src="/images/EH_logo.png" />
                        <span class="header__title--small"></span>
                    </h1>
                    <p class="header__subtitle">
                        <br></p>
                </div>
            </div>
        </div>
    </header>

    <section class="container-fluid banner" style="margin-top: 0rem;" >
        <div class="container">
            <div class="row">
                    <% if(textDirection == 'rtl')  { %>
                <div class="col-xs-12 banner__content">
                    <div class='banner__main'>
                        <h2 class="banner__title"><%= candidate.fullName %></h2>
                    </div>
                    <div class='banner__info'>
                        <h3 class="banner__phone"><%= text.idField %><%= candidate.id %></h3>
                        <p class="banner__text" style='direction:<%= textDirection %>' >
                            <b><%= text.dateFormCompletedField %></b> <%= candidate.dateCompleted %> <%= text.beforeXdaysField %></p>
                    </div>
                    <% }
                    else { %>
                    <div class="col-xs-12 banner__content" style="direction: <%= textDirection %>;">
                        <div class='' style="width: auto;border-bottom: 0;padding-right: 4rem;direction: <%= textDirection %>;border-right: 0.375rem;border-right: 0.375rem solid #ffffff; ">
                            <h2 class="banner__title"><%= candidate.fullName %></h2>
                        </div>
                        <div class='banner__info' style="direction: <%= textDirection %>;">
                            <h3 class="banner__phone">&nbsp;<%= text.idField %><%= candidate.id %></h3>
                            <p class="banner__text" style='direction:<%= textDirection %>' >
                                <b><%= text.dateFormCompletedField %></b> <%= candidate.dateCompleted %> <%= text.beforeXdaysField %></p>
                        </div>
                    <% }
                    %>
                </div>
            </div>
        </div>
    </section>

    <section class="container graph" style="padding: 1rem 15px 4rem 15px;">
        <div class="row">
            <div class="col-xs-12">
                <div class="graph__filters" style="margin-bottom: 3rem;">
                    <h4 class="graph__filters-text" style='direction:<%= textDirection %>'>
                       <b>&nbsp; <%= text.positionDescriptionField %> </b>&nbsp;| <b> <%= text.phoneField %></b> <%= candidate.phoneNumber %> |
                        <b><%= text.recruiterSourceField %> </b> <%= candidate.recruitmentSource %> <span class="hide-in-print">|</span>  <b><a class="hide-in-print" target="_blank" href='<%= candidate.linkToCV %>'><%= text.CVField %></a></b>  </h4>
                </div>
                <h4 class="graph__subtitle" style='direction: <%= textDirection %>'><%= text.formResultField %></h4>
                <div class="graph__img">
                    <div class="graph__img-row">
                        <div class="graph__img-column">
                            <h4 class="graph__img-text">20%
                                <br>
                                <b><%= text.lowField %></b>
                            </h4>
                        </div>
                        <div class="graph__img-column">
                            <h4 class="graph__img-text">60%
                                <br>
                                <b><%= text.avgField %></b>
                            </h4>
                        </div>
                        <div class="graph__img-column">
                            <h4 class="graph__img-text">20%
                                <br>
                                <b><%= text.highField %></b>
                            </h4>
                        </div>
                    </div>
                    <div class="graph__img-mark">
                        <div class="graph__img-mark__list">
                            <div class="graph__img-mark__column">
                                <h4 class='<%= (candidate.report.finalScore == 1) ? 'graph__img-text--active' : 'graph__img-text'%>'>1</h4>
                            </div>
                            <div class="graph__img-mark__column">
                                <h4 class='<%= (candidate.report.finalScore == 2) ? 'graph__img-text--active' : 'graph__img-text'%>'>2</h4>
                                <h4 class='<%= (candidate.report.finalScore == 3) ? 'graph__img-text--active' : 'graph__img-text'%>'>3</h4>
                                <h4 class='<%= (candidate.report.finalScore == 4) ? 'graph__img-text--active' : 'graph__img-text'%>'>4</h4>
                            </div>
                            <div class="graph__img-mark__column">
                                <h4 class='<%= (candidate.report.finalScore == 5) ? 'graph__img-text--active' : 'graph__img-text'%>'>5</h4>
                            </div>
                        </div>
                    </div>
                    <div class="graph__img-row">
                        <div class="graph__img-column">
                            <img src="/images/arrow.png" alt="Arrow" class="graph__img-arrow">
                            <h4 class="graph__img-text graph__img-text--light"><%= text.dontRecommendField %></h4>
                        </div>
                        <div class="graph__img-column">
                            <img src="/images/arrow.png" alt="Arrow" class="graph__img-arrow">
                            <h4 class="graph__img-text graph__img-text--bold"><%= text.furtherStepsField %></h4>
                        </div>
                        <div class="graph__img-column">
                            <img src="/images/arrow.png" alt="Arrow" class="graph__img-arrow">
                            <h4 class="graph__img-text graph__img-text--light"><%= text.RecommendField %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container features" >
        <div class="row">
            <div class="col-xs-12 features__content">
                <div class="features__column">
                    <div class="features__header">
                        <h3 class="features__title features__title--underline"><%= text.issuesToTestField %></h3>
                        <h4 class="features__subtitle" style='direction: <%= textDirection %>'>
                            <%- text.expectedBehaviorField %>
                        </h4>
                    </div>
                    <div class="features__list">
                        <% if (candidate.report.weaknesses.length > 0) { %>
                        <% for (var weaknessesIndex = 0; weaknessesIndex < candidate.report.weaknesses.length; weaknessesIndex++) { %>
                        <div class="features__item-wrapper">
                            <div class="features__item" style="justify-content: flex-start;">
                                <div class="features__item-icon"><img src="/images/icons/<%= candidate.report.weaknesses[weaknessesIndex].id.replace(/\s+/g, '_') %>.png" alt="Icon" class="features__item-icon"></div>
                                <!--<h3 class="features__title features__title--brand features__item-title"><%=candidate.report.weaknesses[weaknessesIndex].title%></h3>-->
                                <div class="features__item-copy">
                                    <h3 class="features__title features__title--brand features__item-title features__title-not-ie"><%=candidate.report.weaknesses[weaknessesIndex].title%></h3>
                                    <ul class="features__item-list">
                                        <h3 class="features__title features__title--brand features__item-title features__title-ie"><%=candidate.report.weaknesses[weaknessesIndex].title%></h3>
                                        <% for (var wtxtIndex = 0; wtxtIndex < candidate.report.weaknesses[weaknessesIndex]['text'].length; wtxtIndex++) {
                                            if (candidate.report.weaknesses[weaknessesIndex]['text'][wtxtIndex] == '') { %>
                                                <br>
                                        <%  } else if (candidate.report.weaknesses[weaknessesIndex]['text'][wtxtIndex].charAt(candidate.report.weaknesses[weaknessesIndex]['text'][wtxtIndex].length - 1) == '-' ||
                                                candidate.report.weaknesses[weaknessesIndex]['text'][wtxtIndex].charAt(candidate.report.weaknesses[weaknessesIndex]['text'][wtxtIndex].length - 2) == '-') { %>
                                                <p><b><%= text.inATeamField%></b></p>
                                        <%  } else { %>
                                        <li class="features__item-list__item">
                                            <p class="linepara"><%- candidate.report.weaknesses[weaknessesIndex]['text'][wtxtIndex] %></p>
                                        </li>
                                        <%  } %>
                                    <%  } %>
                                    </ul>
                                </div>
                            </div>
                            <!-- Questions for interview
                            <div class="features__item-message">
                                <h4 class="features__text features__text--alt features__text--brand">Lorem ipsum</h4>
                                <p class="features__text features__text--alt">Adipisicing sit anim officia minim id anim eiusmod mollit consectetur. Do labore incididunt
                                    ex ipsum laborum et.</p>
                            </div>
                            -->
                        </div>
                        <%  } %>
                    <%  } %>
                        <!--
                        <div class="features__item-wrapper">
                            <div class="features__item">
                                <img src="/images/i-book.png" alt="Icon" class="features__item-icon">
                                <div class="features__item-copy">
                                    <h3 class="features__title features__title--brand features__item-title">Lorem ipsum</h3>
                                    <ul class="features__item-list">
                                        <li class="features__item-list__item">Pariatur sunt nulla tempor nisi.</li>
                                        <li class="features__item-list__item">Pariatur tempor anim exercitation irure do.</li>
                                        <li class="features__item-list__item">Ex laborum laborum nulla ullamco pariatur reprehenderit sit ex.</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Questions for interview
                            <div class="features__item-message">
                                <h4 class="features__text features__text--alt features__text--brand">Lorem ipsum</h4>
                                <p class="features__text features__text--alt">Adipisicing sit anim officia minim id anim eiusmod mollit consectetur. Do labore incididunt
                                    ex ipsum laborum et.</p>
                            </div>
                            -->
                        <!--</div>-->
                </div>
                </div>
                <div class="features__column">
                    <div class="features__header" style="margin-bottom: 0%;">
                        <h3 class="features__title features__title--underline"><%= text.strengthsField %></h3>
                        <h4 class="features__subtitle" style='direction: <%= textDirection %>'>
                            <%- text.expectedBehaviorField %>
                        </h4>
                    </div>
                    <div class="features__list">
                        <% if (candidate.report.strengths.length > 0) { %>
                        <% for (var strengthsIndex = 0; strengthsIndex < candidate.report.strengths.length; strengthsIndex++) { %>
                            <div class="features__item-wrapper">
                                <div class="features__item" style="justify-content: flex-start;">
                                <div class="features__item-icon"><img src="/images/icons/<%= candidate.report.strengths[strengthsIndex].id.replace(/\s+/g, '_') %>.png" alt="Icon" class="features__item-icon"></div>
                                    <div class="features__item-copy">
                                        <h3 class="features__title features__title--brand features__item-title"><%=candidate.report.strengths[strengthsIndex].title%></h3>
                                        <ul class="features__item-list">
                                            <% for (var txtIndex = 0; txtIndex < candidate.report.strengths[strengthsIndex]['text'].length; txtIndex++) {
                                                if (candidate.report.strengths[strengthsIndex]['text'][txtIndex] == '') { %>
                                                <br>
                                                <%  } else if (candidate.report.strengths[strengthsIndex]['text'][txtIndex].charAt(candidate.report.strengths[strengthsIndex]['text'][txtIndex].length - 1) == '-' ||
                                                        candidate.report.strengths[strengthsIndex]['text'][txtIndex].charAt(candidate.report.strengths[strengthsIndex]['text'][txtIndex].length - 2) == '-'){ %>
                                                    <p><b><%= text.inATeamField%></b></p>
                                                <%  } else { %>
                                                    <li class="features__item-list__item">
                                                        <p class="linepara"><%- candidate.report.strengths[strengthsIndex]['text'][txtIndex] %></p>
                                                    </li>
                                                <%  } %>
                                            <%  } %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <%  } %>
                        <%  } %>
                        <!--
                        <div class="features__item-wrapper">
                            <div class="features__item">
                                <img src="/images/i-faces.png" alt="Icon" class="features__item-icon">
                                <div class="features__item-copy">
                                    <h3 class="features__title features__title--brand features__item-title">אינטליגנציה רגשית</h3>
                                    <ul class="features__item-list">
                                        <li class="features__item-list__item">Pariatur sunt nulla tempor nisi.</li>
                                        <li class="features__item-list__item">Pariatur tempor anim exercitation irure do.</li>
                                        <li class="features__item-list__item">Ex laborum laborum nulla ullamco pariatur reprehenderit sit ex.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="features__item-wrapper">
                            <div class="features__item">
                                <img src="/images/i-meditation.png" alt="Icon" class="features__item-icon">
                                <div class="features__item-copy">
                                    <h3 class="features__title features__title--brand features__item-title">תוצאתיות והתמדה</h3>
                                    <ul class="features__item-list">
                                        <li class="features__item-list__item">Pariatur sunt nulla tempor nisi.</li>
                                        <li class="features__item-list__item">Pariatur tempor anim exercitation irure do.</li>
                                        <li class="features__item-list__item">Ex laborum laborum nulla ullamco pariatur reprehenderit sit ex.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container footer">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="footer__text"></h5>
            </div>
        </div>
    </footer>
</page>
</body>

</html>